USE [master]
GO
/****** Object:  Database [TrainingManagement]    Script Date: 24-01-2024 11:35:56 ******/
CREATE DATABASE [TrainingManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainingManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrainingManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainingManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrainingManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainingManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainingManagement]
GO
/****** Object:  Table [dbo].[Colleges]    Script Date: 24-01-2024 11:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colleges](
	[CollegeId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeName] [nvarchar](100) NULL,
	[Location] [nvarchar](50) NULL,
	[Remarks] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CollegeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainees]    Script Date: 24-01-2024 11:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainees](
	[TraineeId] [int] IDENTITY(1,1) NOT NULL,
	[CollegeId] [int] NULL,
	[TraineeName] [nvarchar](100) NULL,
	[TraineeLocation] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
	[Discontinue] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[TraineeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Trainees]  WITH CHECK ADD FOREIGN KEY([CollegeId])
REFERENCES [dbo].[Colleges] ([CollegeId])
GO
/****** Object:  StoredProcedure [dbo].[spAllTrainees]    Script Date: 24-01-2024 11:35:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAllTrainees]
AS
SELECT C.CollegeName, C.Location, C.Remarks, T.TraineeName, T.TraineeLocation, T.Email, T.Phone FROM Colleges C LEFT JOIN Trainees T on C.CollegeId = T.CollegeId;
GO
USE [master]
GO
